<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>


    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < users.length;i++){
        var user = users[i]; %>
    <tr>
        <form class="user-form">
            <input type="hidden" name="id" value="<%= user._id %>">
            <td><%= user._id %></td>
            <td><input name="name" type="text" required="required" value="<%= user.name %>"></td>
            <td><input name="age" type="number" required="required" value="<%= user.age %>"></td>
            <td>
                <a class="link-for-delete-user" href="/apis/user/delete?id=<%= user._id %>">删除</a>
                <input type="submit" value="保存">
            </td>
        </form>
    </tr>
    <% } %>
    </tbody>
</table>

<form id="form-add-user">
    <label>
        <span>用户</span>
        <input type="text" name="name" required="required">
    </label>
    <label>
        <span>年龄</span>
        <input type="number" name="age" required="required">
    </label>
    <input type="submit" value="添加用户">
</form>

<script src="/javascripts/index.js"></script>
</body>
</html>
