<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<div class="container">
    <% for(var i = 0;i < posts.length;i++){
        var post = posts[i]; %>
    <div>
        <div><%= post.title %></div>
        <div>作者：<%= post.authorInfo.user %></div>
        <div><%= post.content %></div>
    </div>
    <% } %>
</div>

</body>
</html>
