<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>


    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < users.length;i++){
        var user = users[i]; %>
    <tr>
        <form class="user-form">
            <input type="hidden" name="id" value="<%= user.getId() %>">
            <td><%= user.getId() %></td>
            <td><input type="text" name="name" required="required" value="<%= user.name %>"></td>
            <td><input type="number" name="age" required="required" value="<%= user.age %>"></td>
            <td>
                <a class="btn-delete" href="/users/delete?id=<%= user.getId() %>">删除</a>
                <input type="submit" value="保存">
            </td>
        </form>
    </tr>
    <% } %>
    </tbody>
</table>

<form id="add-user-form">
    <label>
        名字：
        <input type="text" name="name" required="required">
    </label>
    <label>
        年龄：
        <input type="number" name="age" required="required">
    </label>
    <input type="submit" value="添加">
</form>

<script src="/javascripts/index.js"></script>
</body>
</html>
